<!--会員情報編集ページ-->
<main>
  <div class = "container" style = "margin-top: 20px">

    <div class = "row">
      <h3 class = "bg-light">会員情報編集</h3>
    </div>

    <%= form_with model: @editcustomer, :url => {:action => :update}, method: :patch do |f| %>
    <div class = "row" style = "margin-top: 20px">
      <div class = "col-2">氏名</div>
      <div class= "form-group col-3">
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name"%>
      </div>
      <div class= "form-group col-3">
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name"%>
      </div>
    </div>

    <div class = "row">
      <div class = "col-2">フリガナ</div>
      <div class= "form-group col-3">
        <%= f.text_field :last_name_kana, autocomplete: "last_name_kana"%>
      </div>
      <div class= "form-group col-3">
        <%= f.text_field :first_name_kana, autocomplete: "first_name_kana"%>
      </div>
    </div>

    <div class = "row">
      <div class = "col-2">郵便番号</div>
      <div class= "form-group col-3">
        <%= f.text_field :postal_code, autocomplete: "postal_code"%>
      </div>
    </div>

    <div class = "row">
      <div class = "col-2">住所</div>
      <div class= "form-group col-3">
        <%= f.text_field :address, autocomplete: "address"%>
      </div>
    </div>

    <div class = "row">
      <div class = "col-2">電話番号</div>
      <div class= "form-group col-3">
        <%= f.text_field :telephone_number, autocomplete: "telephone_number"%>
      </div>
    </div>

    <div class = "row">
      <div class = "col-2">メールアドレス</div>
      <div class= "form-group col-3">
        <%= f.email_field :email, autocomplete: "email"%>
      </div>
    </div>

    <div class = "row">
      <%= f.submit "編集内容を保存", class: "offset-2 col-3 btn btn-success" %>
      <%= link_to "退会する", customers_unsubscribe_path, class: "btn btn-danger offset-1 col-1" %>

    </div>
  <% end %>
</main>