<!--（管理者）商品一覧-->
<main>
  <div class = "container-fluid" style = "margin-top: 40px">
    <div class = "row">
      <div class = "offset-1 h3">
        <div style = "background-color: #EEEEEE; text-align: center; padding: 0 20px">商品一覧</div>
      </div>
      <div class = "offset-6">
        <%= link_to "＋", new_admin_item_path, class: "btn btn-light rounded-circle p-0", :style => "width: 2rem; height: 2rem" %>
      </div>
    </div>
  <div class = "row">
    <div class = "col-10 offset-1">
      <table class= "table table-borderless border-top border-bottom">
        <thead>
          <tr bgcolor = "#EEEEEE">
            <th class = "col-1">商品ID</th>
            <th class = "col-2">商品名</th>
            <th class = "col-1">税抜価格</th>
            <th class = "col-2">ジャンル</th>
            <th class = "col-1">ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td><!--色は消すべき？-->
              <td style="text-decoration: underline">
                <%= link_to admin_item_path(item.id) do %>
                  <%= item.name %>
                <% end %>
              </td>
              <td><%= item.price.to_s(:delimited) %></td>
              <td><%= item.genre.name %></td>
              <% if item.is_active == true %>
                <td class = "text-success"><b>販売中</b></td>
              <% else %>
                <td class = "text-secondary"><b>販売停止中</b></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @items, theme: 'bootstrap-5' %>
    </div>
  </div>
</main>