<!--（管理者）会員詳細-->
<main>
  <div class = "container-fluid" style = "margin-top: 40px">
    <div class = "row">
      <div class = "offset-1 h3">
        <div style = "background-color: #EEEEEE; text-align: center; padding: 0 20px">
          <%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細
        </div>
      </div>
    </div>
    <div class = "row" style = "margin-top: 20px">
      <div class = "col-1 offset-1">
        会員ID
      </div>
      <div>
        <%= @customer.id %>
      </div>
    </div>
    <div class = "row" style = "margin-top: 20px">
      <div class = "col-1 offset-1">
        氏名
      </div>
      <div>
        <%= @customer.last_name %>　<%= @customer.first_name %>
      </div>
    </div>
    <div class = "row" style = "margin-top: 20px">
      <div class = "col-1 offset-1">
        フリガナ
      </div>
      <div>
        <%= @customer.last_name_kana %>　<%= @customer.first_name_kana %>
      </div>
    </div>

    <div class = "row" style = "margin-top: 20px">
      <div class = "col-1 offset-1">
        郵便番号
      </div>
      <div>
        <%= @customer.postal_code %>
      </div>
    </div>

    <div class = "row" style = "margin-top: 20px">
      <div class = "col-1 offset-1">
        住所
      </div>
      <div>
        <%= @customer.address %>
      </div>
    </div>

    <div class = "row" style = "margin-top: 20px">
      <div class = "col-1 offset-1">
        電話番号
      </div>
      <div>
        <%= @customer.telephone_number %>
      </div>
    </div>

    <div class = "row" style = "margin-top: 20px">
      <div class = "col-1 offset-1">
        メールアドレス
      </div>
      <div>
        <%= @customer.email %>
      </div>
    </div>

    <div class = "row" style = "margin-top: 20px">
      <div class = "col-1 offset-1">
        会員ステータス
      </div>
      <% if @customer.is_deleted == true %>
        <div>
          退会
        </div>
      <% else %>
        <div class = "text-success">
          有効
        </div>
      <% end %>
    </div>

    <div class = "row" style = "margin-top: 20px">
      <div class = "col-1 offset-2" style = "padding-left: 0">
        <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-success" %>
      </div>
      <div class = "col-2">
        <%= link_to "注文履歴一覧を見る", admin_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</main>