<!--（管理者）ジャンル一覧・追加-->
<main>
  <div class = "container-fluid" style = "margin-top: 40px">
    <div class = "row">
      <div class = "offset-1 h3">
        <div style = "background-color: #EEEEEE; text-align: center; padding: 0 20px">ジャンル一覧・追加</div>
      </div>
    </div>
    <%= form_with model: @newgenre, url: '/admin/genres', method: :post do |f| %>
      <div class = "row form-group" style = "margin-top: 20px">
        <div class = "col-1 d-flex align-items-center justify-content-center">
          <%= f.label :ジャンル名, class: "center-block", :style => "margin: 0" %>
        </div>
        <div class = "col-2">
          <%= f.text_field :name , class: "form-control" %>
        </div>
        <div class = "col-1">
          <%= f.submit "新規登録", class: "form-control btn btn-success" %>
        </div>
      </div>
    <% end %>
    <div class = "row">
      <div class = "col-3">
        <div class = "row">
          <table class = "table border-top border-bottom" style = "margin: 30px 0 0 40px">
            <thead>
              <tr bgcolor = "#EEEEEE">
                <th class = "d-flex align-items-center justify-content-center">ジャンル</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @genres.each do |genre| %>
                <tr>
                  <td class = "col-8" ><%= genre.name %></td>
                  <td class = "col-4" ><%= link_to "編集する", edit_admin_genre_path(genre.id), class: "form-control btn btn-success" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>