<!--（顧客）ログイン-->
<main>
  <div class = "container" style = "margin-top: 40px">
    <div class = "row">
      <div class = "h3">
        <div style = "background-color: #EEEEEE; text-align: center; padding: 0 20px">ログイン</div>
      </div>
    </div>
    <div class = "row">
      <div class = "h5" style = "margin-top: 40px">
        <div  style = "background-color: #EEEEEE; text-align: center; padding: 0 20px">会員の方はこちらからログイン</div>
      </div>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class = "row" style = "margin-top: 20px">
        <%= f.label :メールアドレス, class: "col-md-2 offset-md-1" %>
        <%= f.email_field :email, placeholder: "sample@example.com", autofocus: true, autocomplete: "email", class: "col-md-6" %>
      </div>
      <div class = "row" style = "margin-top: 20px">
        <%= f.label :パスワード, class: "col-md-2 offset-md-1" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "col-md-6" %>
      </div>
      <div class = "row" style = "margin-top: 20px">
        <%= f.submit "ログイン", class: "btn btn-primary col-md-2 offset-md-3" %>
      </div>
    <% end %>
    <div class = "row">
      <div class = "h5" style = "margin-top: 60px">
        <div  style = "background-color: #EEEEEE; text-align: center; padding: 0 20px">会員登録がお済みでない方</div>
      </div>
    </div>
    <div class = "row" style = "margin-top: 20px">
      <div class = "offset-2">
        <%= link_to "こちら", new_customer_registration_path %>　から新規登録を行ってください。
      </div>
    </div>
  </div>
</main>