<main>
  <div class = "container-fluid">
    <div class = "row" style = "margin-top: 40px">
      <%= render 'admin/genres/genre_search', genres: @genres %>
      <div class = "col-10">
        <div class = "row">
          商品一覧（全ｘ件）
        </div>
        <div class = "row">
          <% @items.each do |item| %>
          <div class = "col-3">
            <%= link_to item_path(item.id) do %>
              <%= image_tag item.image, size: '200x200' %>
            <% end %><br>
            <%= item.name %><br>
            ￥<%= item.add_tax_price.to_s(:delimited) %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>